table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align:center;
}
#detalles {
font-size: 40px;
}
.senal {
  background-color: #dddddd;
}
